<!DOCTYPE html >
<html data-bs-theme="dark">
  <% let rootpath='./' %>
<head>
    <title>集點</title>
  <meta name="viewport" content="width=device-width, initial-scale=yes, user-scalable=yes">

  <!--jquery-->
  <script src="<%=rootpath %>plugins/jquery/dist/jquery.min.js"></script>
  <!--bootstrap-->
  <link href="<%=rootpath %>plugins/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
  <link href="<%=rootpath %>plugins/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="<%=rootpath %>plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <link href="<%=rootpath %>public/css/object.css" rel="stylesheet" />


</head>

<body>
    <!--頁面主程式-->
    <script src="<%=rootpath %>public/js/object.js"></script>
    <script src="<%=rootpath %>public/js/index.js"></script>
    <!--登入程式及自製套件-->
    <script src="<%=rootpath %>public/js/utils.js"></script>

    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script src="<%=rootpath %>public/js/liff.js"></script>


    

    <main class="container">
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <span class="fs-4">冰塊 集點站</span>
        
        </a>
        <hr>
        <div class="card border-success mb-3" id="LineStatus" style="max-width: 18rem;">
          <div class="card-header">登入狀態</div>
          <div class="card-body">
            
          </div>
        </div>
       
        <hr>
        <div class="accordion" id="cardManage">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cardManagePage" aria-expanded="true" aria-controls="cardManagePage">
                <i class="bi bi-stack-overflow"></i>
                管理卡片
              </button>
            </h2>
            <div id="cardManagePage" class="accordion-collapse collapse" data-bs-parent="#cardManage">
              <div class="accordion-body">
                <a class="dropdown-item" href="/edit">建立卡片</a>


              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="bi bi-collection"></i>
                個人集點
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <a class="dropdown-item" href="#">總清單</a>
                <a class="dropdown-item" href="#">可兌換清單</a>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <i class="bi bi-check-square"></i>
                完成清單
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <a class="dropdown-item" href="#">已兌換</a>
                <a class="dropdown-item" href="#">已過期</a>
              </div>
            </div>
          </div>
        </div>


      </div>
        
    </main> 

    


</body>

</html>